*{
    font-family: 'Avenir', 'Century-Gothic', 'Franklin-Gothic', 'Arial', 'Sans-serif';
}
html {
    max-width: 100%;
}
header, footer {
    padding: 20px;
    background-color: rgb(73, 106, 146);
    width: max-content;
    color: white;
    display: flex;
    margin: 25px;
    flex-wrap: wrap;
}
@media only screen and (min-width:768px){
    header, footer{
        width: auto;
    }
}
nav {
    float: right;  
}
ul {
    list-style-type: none;
}
ul li {
    display:inline-block;
}

a:link {
    text-decoration: none;
    cursor:pointer
}
a:visited {
    color: white;
    text-decoration: none;
}
#personal-info {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    min-width: 500px;
}
#profile-pic {
    width: 100% ;
}

#verbage {
    padding: 25px;
}

@media screen and (min-width: 768px){
    #profile-pic {
     margin-left: 20px;
     width: 400px;
     height: 300px;
    }
    #verbage {
        width: auto;
    }
}

main {
    margin: 25px;
}
#work {
    display: flex;
    flex-wrap: wrap;
}
.container {
    position: relative;
  }
.project-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgb(29, 27, 27);
    color: white;
  }
#first-project {width: 100%;}
.other-projects {width:45%;}
@media only screen and (min-width=900px){
    #first-project {
        width: 900px;
        height: 600px;
      }
    .other-projects {
        width: 399px;
        height: 266px;
  }
}
footer{
    display: flex;
}
  #contact {
    display: inline-flex;
    justify-content: flex-end;
  }

 
  #email{
    color:white;
    text-decoration: none;
  }